<div id='info'>
  <%= image_tag "logo.png" %>
  <time class='end'></time>

  <div id='notification' class=''>
    <div>This is a much much longer notification than intended</div>
  </div>

  <div id='statistics'></div>
</div>

<div id="tweets">
  <div class="tweet template" id=''>
    <img src="" class='avatar'>
    <div class='content'>
      <h1 class='name'></h1>
      <h2 class='screen_name'></h2>
      <abbr title=""></abbr>
      <p class='text'></p>
      <img class='media' src='' />
    </div>

  </div>
</div>