<div id="tweets">
  <div class="tweet template" id=''>
    <img src="" class='avatar'>
    <h1 class='name'></h1>
    <abbr title=""></abbr>
    <h2 class='screen_name'></h2>
    <p class='text'></p>
  </div>
</div>

<div id='info'>
  <time datetime="<%= ENV["END_TIME"] %>" timezone='<%= ENV["TIMEZONE"] %>'></time>
</div>