// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-blue: #00417C;
$dark-blue: #1A1F34;
$white: #fff;
$grey: #555;
$light-grey: #ddd;

#info {
  float: left;
  width: 50%;
  height: 100%;
  background-color: $dark-blue;
  text-align: center;

  img {
    margin-top: 2em;
    width: 80%;
  }

  time {
    display: block;
    color: $white;
    text-align: center;
    font-family: "Courier New", monospace ;
    background-color: $white;
    color: $dark-blue;
    margin: 0.1em 0.5em 0.5em 0.5em;
  }

  #statistics {
    color: $white;
    font-size: 2em;
    text-align: left;
    margin: 1em 2em;
    display: block;
    line-height: 1.2em;

    ul {
      margin-left: 1em;
      list-style: disc outside;

      li {
        margin-bottom: 0.8em;
      }
    }

    p {
      margin: 1em 0;
    }

    h1, h2, h3, h4, h5 {
      font-weight: bold;
      color: $light-grey;
      margin-bottom: 0.5em;
    }
  }
}

#tweets {
  float: left;
  background-color: $light-blue;
  width: 50%;
  height: 100%;
  overflow: auto;

  .tweet {
    display: none;
    margin: 1em;
    padding: 1em;
    background-color: $white;
    font-size: 20px;
    overflow: auto;

    .content {
      float: left;
      width: 70%;
    }

    .avatar {
      float: left;
      margin-right: 1em;
    }

    h1 {
      display: inline;
      font-weight: bold;
      color: $dark-blue;
      padding-right: 10px;
    }

    h2 {
      display: inline;
      font-weight: normal;
      color: $grey;
      font-size: 0.8em;
    }

    abbr {
      display: block;
      color: $grey;
      font-size: 0.8em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.2em;
      line-height: 1.2em;

      strong {
        color: $light-blue;
        font-weight: bold;
      }
    }

    .media {
      margin-top: 1em;
      max-height: 30%;
    }
  }
}


#notification {
  width: 100%;
  height: 100%;
  background-color: $light-blue;
  color: $white;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  font-size: 4em;
  display: none;

  div {
    padding: 10%;

  }

  &.minified {
    position: static;
    height: auto;
    text-align: left;

    div {
      padding: 0.5em 1em;
    }
  }

}